TELEGRAM_BOT_TOKEN=isi_dengan_token_telegram
GEMINI_API_KEY=isi_dengan_api_key_gemini
GOOGLE_CREDS_JSON=isi_dengan_string_json_credentials
GOOGLE_TOKEN_JSON=isi_dengan_string_json_token
WEBHOOK_URL=isi_dengan_url_webhook